{% load static %}
{% include './includes/header.html' %}
<style>        
#myCanvas{

            border: 1px solid #efefef;
            box-shadow: 2px 2px #efefef;

        }

        .hidden{

            display:none;

        }

		.ScrollStyle
		{
			max-height: 650px;
			overflow-y: scroll;
		}

		.navbar .navbar-nav .nav-link{
			color: black;
		}


    </style>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

<hr>
<div class="container-fluid">

    <div class="row">
		<div class="col-md-3">
			<div class="ScrollStyle">
				<img src="../static/img/white.jpg" alt="Background Image" width="90%" height="100px" style="border: 1px solid black; margin-bottom: 20px;" onclick="whitefunc()">
				<img src="../static/img/background.jpeg" alt="Background Image" width="90%" height="100px" style="margin-bottom: 20px;" onclick="firstfunc()">
				<img src="../static/img/bg1.png" alt="Background Image" width="90%" height="100px" style="margin-bottom: 20px;" onclick="secondfunc()">
				<img src="../static/img/bg2.png" alt="Background Image" width="90%" height="100px" style="margin-bottom: 20px;" onclick="thirdfunc()">
				<img src="../static/img/bg3.jpg" alt="Background Image" width="90%" height="100px" style="margin-bottom: 20px;" onclick="fourthfunc()">
				<img src="../static/img/bg4.png" alt="Background Image" width="90%" height="100px" style="margin-bottom: 20px;" onclick="fifthfunc()">
				<img src="../static/img/bg5.png" alt="Background Image" width="90%" height="100px" style="margin-bottom: 20px;" onclick="sixthfunc()">
				<img src="../static/img/bg7.jpg" alt="Background Image" width="90%" height="100px" style="margin-bottom: 20px;" onclick="sevenfunc()">
				<img src="../static/img/bg8.jpg" alt="Background Image" width="90%" height="100px" style="margin-bottom: 20px;" onclick="eightfunc()">
				<img src="../static/img/bg9.jpg" alt="Background Image" width="90%" height="100px" style="margin-bottom: 20px;" onclick="ninefunc()">
				<img src="../static/img/bg10.jpg" alt="Background Image" width="90%" height="100px" style="margin-bottom: 20px;" onclick="tenfunc()">
				<img src="../static/img/bg11.jpg" alt="Background Image" width="90%" height="100px" style="margin-bottom: 20px;" onclick="elevenfunc()">
				<img src="../static/img/bg12.jpg" alt="Background Image" width="90%" height="100px" style="margin-bottom: 20px;" onclick="twelvefunc()">
			</div>
		</div>
		<!-- Second Row -->
		<div class="col-md-9">
            <center><h2>Saved Cards</h2></center><br>
            <div class="row">
                <div class="col-md-3">
                    <input id="theText" type="text" placeholder="Add text" class="form-control">
                </div>
                <div class="col-md-2">
                    <select id="mySelect" class="form-control">
                        <option value="100">Select Weight</option>
                        <option value="bold">Bold</option>
                    </select>
                </div>
                <div class="col-md-2">
                    <input id="size" type="number" min="12" placeholder="Font Size" class="form-control">
                </div>
                <div class="col-md-2">
                    <select id="mySelect2" class="form-control">
                        <option value="">Font Family</option>
                        <option value="arial">Arial</option>
                        <option value="georgia">Georgia</option>
                        <option value="tahoma">Tahoma</option>
                        <option value="sans-serif">Sans Serif</option>
                    </select>
                </div>
                <div class="col-md-3">
                    <input type="color" id="color" class="form-control">
                </div>


            </div>
            <br>
            <div class="row">
                <div class="col-md-3">
                    <button id="submit" class="btn btn-primary form-control">Add text</button><br>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6"><br>
                    <input type="file" id="file" class="form-control"><br />
                </div>
            </div>
            <canvas id="myCanvas" width="592" height="354">
            </canvas>
            Select an item and then click Remove to delete it: <button id="submit2" class="btn btn-danger">Remove</button><br>
            <div class="form-group">
                <a id="downloadLnk" style="color:white;" class="btn btn-primary" download="card.jpg">Download as image</a>
            </div>

            {% if dashboard.has_other_pages %}
            <ul class="pagination">
                {% if dashboard.has_previous %}
                <li class = "page-item"><a class = "page-link" href="?page={{ dashboard.previous_page_number }}">&laquo;</a></li>
                {% else %}
                <li class = "page-item" class="disabled"><span class = "page-link">&laquo;</span></li>
                {% endif %}
                {% for i in dashboard.paginator.page_range %}
                {% if dashboard.number == i %}
                <li  class="active page-item"><span class = "page-link">{{ i }} <span class="sr-only">(current)</span></span></li>
                {% else %}
                <li class = "page-item"><a class = "page-link" href="?page={{ i }}">{{ i }}</a></li>
                {% endif %}
                {% endfor %}
                {% if dashboard.has_next %}
                <li class = "page-item"><a class = "page-link" href="?page={{ dashboard.next_page_number }}">&raquo;</a></li>
                {% else %}
                <li class="disabled page-item"><span class = "page-link">&raquo;</span></li>
                {% endif %}
            </ul>
            {% endif %}


        </div>
    </div>
</div>
<br>


<div class="modal fade" id="mymodal" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title" id="lineModalLabel">Sign In</h3>
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>

            </div>
            <div class="modal-body">

                <!-- content goes here -->
                <form method="POST" action="" autocomplete="off">
                    {% csrf_token %}
                    <div class="input-group mb-3">
                        <div class="input-group-append">
                            <span class="input-group-text"><i class="fas fa-user"></i></span>
                        </div>

                        <input type="text" name="username" placeholder="Username..." class="form-control">
                    </div>

                    <div class="input-group mb-2">
                        <div class="input-group-append">
                            <span class="input-group-text"><i class="fas fa-key"></i></span>
                        </div>

                        <input type="password" name="password" placeholder="Password..." class="form-control" >
                    </div>

                    <div class="d-flex justify-content-center mt-3 login_container">
                        <input class="btn login_btn btn-primary form-control" type="submit" value="Login">
                    </div>

                </form>
                <div>
                    <br>
                    <p style="color: black;">Don't have an account? <a href="/signup/" style="color: red;">Signup now</a></p>
                </div>

            </div>
            <div class="modal-footer">

            </div>
        </div>
    </div>
</div>








<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script src="https://rawgit.com/kangax/fabric.js/master/dist/fabric.min.js"></script>

{% for d in dashboard %}
    {{ d.canvas_data|json_script:"json" }}
{% endfor %}

<script>
var canvas = new fabric.Canvas('myCanvas');
var json = JSON.parse(document.getElementById('json').textContent);

function CallBack() {
    canvas.renderAll();
    canvas.calcOffset();
}

canvas.loadFromJSON(json, CallBack, function(o, object) {
    canvas.setActiveObject(object);
});


document.getElementById('file').addEventListener("change", function (e) {
  var file = e.target.files[0];
  var reader = new FileReader();
  reader.onload = function (f) {
    var data = f.target.result;
    fabric.Image.fromURL(data, function (img) {
      var oImg = img.set({left: 0, top: -0, angle: 00,width:200, height:200}).scale(0.8);
      canvas.add(oImg).renderAll();
      var a = canvas.setActiveObject(oImg);
      var dataURL = canvas.toDataURL({format: 'png', quality: 0.9});
    });
  };
  reader.readAsDataURL(file);
});

$("#submit").click(function () {



//Render the text after the block (so that it is in front of the block)
text = new fabric.Text($("#theText").val(), {
    left: 100, //Take the block's position
    top: 100,
    fontSize: $("#size").val(),
    fontWeight: $("#mySelect").val(),
    fontFamily: $("#mySelect2").val(),
    fill: $("#color").val()
});
canvas.add(text).renderAll();


canvas.setActiveObject(text);
canvas.renderAll();
});


$("#submit2").click(function () {

canvas.remove(canvas.getActiveObject());

});

function whitefunc(){
	var imageUrl = "{% static 'img/white.jpg' %}";
	canvas.setBackgroundImage(imageUrl, canvas.renderAll.bind(canvas), {
    // Optionally add an opacity lvl to the image
    backgroundImageOpacity: 1.0,
    backgroundImageWidth: 592,
    backgroundImageHeight: 354,

});
}

function secondfunc(){
	var imageUrl = "{% static 'img/bg1.png' %}";
	canvas.setBackgroundImage(imageUrl, canvas.renderAll.bind(canvas), {
    // Optionally add an opacity lvl to the image
    backgroundImageOpacity: 1.0,
    backgroundImageWidth: 592,
    backgroundImageHeight: 354,

});
}

function thirdfunc(){
	var imageUrl = "{% static 'img/bg2.png' %}";
	canvas.setBackgroundImage(imageUrl, canvas.renderAll.bind(canvas), {
    // Optionally add an opacity lvl to the image
    backgroundImageOpacity: 1.0,
    backgroundImageWidth: 592,
    backgroundImageHeight: 354,

});
}

function fourthfunc(){
	var imageUrl = "{% static 'img/bg3.jpg' %}";
	canvas.setBackgroundImage(imageUrl, canvas.renderAll.bind(canvas), {
    // Optionally add an opacity lvl to the image
    backgroundImageOpacity: 1.0,
    backgroundImageWidth: 592,
    backgroundImageHeight: 354,

});
}

function fifthfunc(){
	var imageUrl = "{% static 'img/bg4.png' %}";
	canvas.setBackgroundImage(imageUrl, canvas.renderAll.bind(canvas), {
    // Optionally add an opacity lvl to the image
    backgroundImageOpacity: 1.0,
    backgroundImageWidth: 592,
    backgroundImageHeight: 354,

});
}

function sixthfunc(){
	var imageUrl = "{% static 'img/bg5.png' %}";
	canvas.setBackgroundImage(imageUrl, canvas.renderAll.bind(canvas), {
    // Optionally add an opacity lvl to the image
    backgroundImageOpacity: 1.0,
    backgroundImageWidth: 592,
    backgroundImageHeight: 354,

});
}

function firstfunc(){
	var imageUrl = "{% static 'img/background.jpeg' %}";
	canvas.setBackgroundImage(imageUrl, canvas.renderAll.bind(canvas), {
    // Optionally add an opacity lvl to the image
    backgroundImageOpacity: 1.0,
    backgroundImageWidth: 592,
    backgroundImageHeight: 354,

});
}

function sevenfunc(){
	var imageUrl = "{% static 'img/bg7.jpg' %}";
	canvas.setBackgroundImage(imageUrl, canvas.renderAll.bind(canvas), {
    // Optionally add an opacity lvl to the image
    backgroundImageOpacity: 1.0,
    backgroundImageWidth: 592,
    backgroundImageHeight: 354,

});
}function eightfunc(){
	var imageUrl = "{% static 'img/bg8.jpg' %}";
	canvas.setBackgroundImage(imageUrl, canvas.renderAll.bind(canvas), {
    // Optionally add an opacity lvl to the image
    backgroundImageOpacity: 1.0,
    backgroundImageWidth: 592,
    backgroundImageHeight: 354,

});
}function ninefunc(){
	var imageUrl = "{% static 'img/bg9.jpg' %}";
	canvas.setBackgroundImage(imageUrl, canvas.renderAll.bind(canvas), {
    // Optionally add an opacity lvl to the image
    backgroundImageOpacity: 1.0,
    backgroundImageWidth: 592,
    backgroundImageHeight: 354,

});
}function tenfunc(){
	var imageUrl = "{% static 'img/bg10.jpg' %}";
	canvas.setBackgroundImage(imageUrl, canvas.renderAll.bind(canvas), {
    // Optionally add an opacity lvl to the image
    backgroundImageOpacity: 1.0,
    backgroundImageWidth: 592,
    backgroundImageHeight: 354,

});
}function elevenfunc(){
	var imageUrl = "{% static 'img/bg11.jpg' %}";
	canvas.setBackgroundImage(imageUrl, canvas.renderAll.bind(canvas), {
    // Optionally add an opacity lvl to the image
    backgroundImageOpacity: 1.0,
    backgroundImageWidth: 592,
    backgroundImageHeight: 354,

});
}function twelvefunc(){
	var imageUrl = "{% static 'img/bg12.jpg' %}";
	canvas.setBackgroundImage(imageUrl, canvas.renderAll.bind(canvas), {
    // Optionally add an opacity lvl to the image
    backgroundImageOpacity: 1.0,
    backgroundImageWidth: 592,
    backgroundImageHeight: 354,

});
}


function download() {
    var dt = canvas.toDataURL('image/jpeg');
    this.href = dt;
};
downloadLnk.addEventListener('click', download, false);


</script>
</body>
{% include './includes/footer.html' %}